@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@plugin "daisyui";

@theme {
    --background-image-main-linear: linear-gradient(
        90deg,
        rgba(142, 82, 197, 1) 0%,
        rgba(210, 107, 130, 1) 100%
    );
    --color-brand: #4d71f1;
    --color-brandHover: #405ed1;
    --color-white: #ffffff;
}

@layer components {
    .cssContainer {
        @apply w-11/12 max-w-7xl mx-auto py-12 md:py-16;
    }

    .header {
        @apply flex flex-col text-center items-center justify-center gap-6  mb-8;
    }

    .linearText {
        @apply bg-main-linear bg-clip-text text-transparent;
    }

    h1,
    h2 {
        font-weight: 800;
    }

    h1 {
        font-size: clamp(2.5rem, 1.5rem + 2.5vw, 3.375rem);
    }
    h2 {
        font-size: clamp(2rem, 1.4286rem + 1.4286vw, 2.5rem);
    }
    h3 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1rem;
    }
}

* {
    font-family: "Geist", sans-serif;
}
